Node-RED file/Codigo.json
[{"id":"79033421.730bac","type":"watson-tone-analyzer-v3","z":"3705fe96.bac6b2","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":160,"y":240,"wires":[["ac0a42ff.0d1c1"]]},{"id":"bb6db181.94085","type":"ibmiot out","z":"3705fe96.bac6b2","authentication":"apiKey","apiKey":"731364a7.0ed53c","outputType":"cmd","deviceId":"Instructable1","deviceType":"ESP8266","eventCommandType":"led","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":300,"wires":[]},{"id":"3c4480b5.5cdd9","type":"template","z":"3705fe96.bac6b2","name":"Enciende","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"led\":1}","output":"json","x":540,"y":260,"wires":[["bb6db181.94085"]]},{"id":"dbc3a426.f30218","type":"template","z":"3705fe96.bac6b2","name":"Apaga","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"led\":0}","output":"json","x":530,"y":340,"wires":[["bb6db181.94085"]]},{"id":"ef041324.28de2","type":"twitter in","z":"3705fe96.bac6b2","twitter":"","tags":"#EspWatson","user":"false","name":"","topic":"tweets","inputs":0,"x":70,"y":160,"wires":[["79033421.730bac"]]},{"id":"ac0a42ff.0d1c1","type":"function","z":"3705fe96.bac6b2","name":"ParseJSON1","func":"msg.payload = msg.response.document_tone.tones[0].tone_name;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["454df784.35c898"]],"outputLabels":["Item"]},{"id":"454df784.35c898","type":"switch","z":"3705fe96.bac6b2","name":"berrojas45","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":300,"wires":[["3c4480b5.5cdd9"],["dbc3a426.f30218"]]},{"id":"731364a7.0ed53c","type":"ibmiot","z":"","name":"ESP","keepalive":"60","serverName":"x9eqg5.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
